//- .loader
#resizableframe8
  .draggable.story.openwindow.ui-widget-content.main8
    .top
      .control
        .button_close.hvr-push.btn8_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom
      .contactinfo You can reach me for an inquiry or just say Hi at <br>
      span.redtext <br>ruofgu@indiana.edu.<br>For more about me, I'm also at<br> Instagram, Facebook, LinkedIn & Wechat
      .selfieback 
        .selfie2

#resizableframe6_2
  .draggable.story.openwindow.ui-widget-content.beijing
    .top
      .control
        .button_close.hvr-push.btn6_2_close
        .button_enlarge.hvr-push.btn6_2_enlarge
        .button_minimize.hvr-push.btn6_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle BEIJING
        .videodesc A music video using round mask framing, about emotions and fantasy.
        .button_view#view_beijing(onClick="toggleVideo7()") view flash
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Animation
            .date
              h5 DATE
              p December 2016
            
          p
            .content1 This is a music video about one girl experiencing different inner emotions during her brunch time, which is inspired by a Pixar film Inside Out. Different emotions live in our bodies. They are like humans: sometimes they get along with each other harmoniously while sometimes there would be some contradictions. People’s emotion world is colorful, mysterious and interesting. I use different colors to represent different emotions and memories living deep at the girl’s headquarter.
          .photos
            img(src="http://i.imgur.com/lhAhtp0.png", alt="")
            img(src="http://i.imgur.com/r37HXPv.png", alt="")
            img(src="http://i.imgur.com/ePyKJ32.png", alt="")
            img(src="http://i.imgur.com/lH9tQDu.png", alt="")
          //- .content2 This work won the first prize at the 12th Zhejiang Province multimedia contest in the digital video group. I am the director, involved in screenwriting, most parts of shooting, and some parts of editing. I learned real teamwork from the production process, including the allocation of work and project coordination. In addition, our team of five people raised money to purchase a small track in order to get better shots. We also gave up holidays going to another city to shoot. Because our funding was so minimal, we tried to use all of our resources available. For instance, the home scene is my home, and the actress’s mother is my mother. We edited with Adobe premiere CS7 software, and we used a ratio of 2.35:1 – super widescreen like a theater movie. The devices I used might not be the most advanced, but the emotion I expressed was most genuine.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe6_1
  .draggable.story.openwindow.ui-widget-content.voyeur
    .top
      .control
        .button_close.hvr-push.btn6_1_close
        .button_enlarge.hvr-push.btn6_1_enlarge
        .button_minimize.hvr-push.btn6_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle THE VOYEUR
        .videodesc A music video using round mask framing, about emotions and fantasy.
        .button_view#view_voyeur(onClick="toggleVideo6()") view flash
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Animation
            .date
              h5 DATE
              p December 2016
            
          p
            .content1 This is a music video about one girl experiencing different inner emotions during her brunch time, which is inspired by a Pixar film Inside Out. Different emotions live in our bodies. They are like humans: sometimes they get along with each other harmoniously while sometimes there would be some contradictions. People’s emotion world is colorful, mysterious and interesting. I use different colors to represent different emotions and memories living deep at the girl’s headquarter.
          .photos
            img(src="http://i.imgur.com/lhAhtp0.png", alt="")
            img(src="http://i.imgur.com/r37HXPv.png", alt="")
            img(src="http://i.imgur.com/ePyKJ32.png", alt="")
            img(src="http://i.imgur.com/lH9tQDu.png", alt="")
          //- .content2 This work won the first prize at the 12th Zhejiang Province multimedia contest in the digital video group. I am the director, involved in screenwriting, most parts of shooting, and some parts of editing. I learned real teamwork from the production process, including the allocation of work and project coordination. In addition, our team of five people raised money to purchase a small track in order to get better shots. We also gave up holidays going to another city to shoot. Because our funding was so minimal, we tried to use all of our resources available. For instance, the home scene is my home, and the actress’s mother is my mother. We edited with Adobe premiere CS7 software, and we used a ratio of 2.35:1 – super widescreen like a theater movie. The devices I used might not be the most advanced, but the emotion I expressed was most genuine.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe5_2
  .draggable.story.openwindow.ui-widget-content.chunan
    .top
      .control
        .button_close.hvr-push.btn5_2_close
        .button_enlarge.hvr-push.btn5_2_enlarge
        .button_minimize.hvr-push.btn5_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle CHUNAN POLICE
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_chunan experience it
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Leading Desinger
            .skill
              h5 SKILL
              p Interaction Design
            .date
              h5 DATE
              p December 2013
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/cBwNres.jpg", alt="")
            img(src="http://i.imgur.com/aSMRQWJ.png", alt="")
            img(src="http://i.imgur.com/bzMgLv8.png", alt="")
            img(src="http://i.imgur.com/esQjo2F.png", alt="")
            img(src="http://i.imgur.com/FJyEQWF.png", alt="")
            img(src="http://i.imgur.com/VCOvkW4.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe7_2
  .draggable.story.openwindow.ui-widget-content.shanghai
    .top
      .control
        .button_close.hvr-push.btn7_2_close
        .button_enlarge.hvr-push.btn7_2_enlarge
        .button_minimize.hvr-push.btn7_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle EXPRESSION
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_shanghai view photos
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Photographer
            .skill
              h5 SKILL
              p Photography
            .date
              h5 DATE
              p December 2013
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/cBwNres.jpg", alt="")
            img(src="http://i.imgur.com/aSMRQWJ.png", alt="")
            img(src="http://i.imgur.com/bzMgLv8.png", alt="")
            img(src="http://i.imgur.com/esQjo2F.png", alt="")
            img(src="http://i.imgur.com/FJyEQWF.png", alt="")
            img(src="http://i.imgur.com/VCOvkW4.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push

#resizableframe7_1
  .draggable.story.openwindow.ui-widget-content.art
    .top
      .control
        .button_close.hvr-push.btn7_1_close
        .button_enlarge.hvr-push.btn7_1_enlarge
        .button_minimize.hvr-push.btn7_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle MOLECULE MOVER
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_art view photos
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Photographer
            .skill
              h5 SKILL
              p Photography
            .date
              h5 DATE
              p December 2014
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/WsEggzX.png", alt="")
            img(src="http://i.imgur.com/aSMRQWJ.png", alt="")
            img(src="http://i.imgur.com/bzMgLv8.png", alt="")
            img(src="http://i.imgur.com/esQjo2F.png", alt="")
            img(src="http://i.imgur.com/FJyEQWF.png", alt="")
            img(src="http://i.imgur.com/VCOvkW4.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe5_3
  .draggable.story.openwindow.ui-widget-content.game
    .top
      .control
        .button_close.hvr-push.btn5_3_close
        .button_enlarge.hvr-push.btn5_3_enlarge
        .button_minimize.hvr-push.btn5_3_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle MOLECULE MOVER
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_trip experience it
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Leading Designer
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p December 2015
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/JbHwa27.png", alt="")
            img(src="http://i.imgur.com/aSMRQWJ.png", alt="")
            img(src="http://i.imgur.com/bzMgLv8.png", alt="")
            img(src="http://i.imgur.com/esQjo2F.png", alt="")
            img(src="http://i.imgur.com/FJyEQWF.png", alt="")
            img(src="http://i.imgur.com/VCOvkW4.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe5_4
  .draggable.story.openwindow.ui-widget-content.mkj
    .top
      .control
        .button_close.hvr-push.btn5_4_close
        .button_enlarge.hvr-push.btn5_4_enlarge
        .button_minimize.hvr-push.btn5_4_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle THE INVISIBLE
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_invisible(onClick="toggleVideo5()") experience it
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Experience Design
            .date
              h5 DATE
              p September 2016
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/jj8b2sQ.png", alt="")
            img(src="http://i.imgur.com/s29JfcE.png", alt="")
            img(src="http://i.imgur.com/K59AgEU.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push

#resizableframe5_1
  .draggable.story.openwindow.ui-widget-content.trip
    .top
      .control
        .button_close.hvr-push.btn5_1_close
        .button_enlarge.hvr-push.btn5_1_enlarge
        .button_minimize.hvr-push.btn5_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle IU TRIP
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_trip experience it
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p November 2015
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/E1oPGdH.png", alt="")
            img(src="http://i.imgur.com/B98W178.png", alt="")
            img(src="http://i.imgur.com/wog7xY5.png", alt="")
            img(src="http://i.imgur.com/OUCuHvT.png", alt="")
            img(src="http://i.imgur.com/ekkkzaj.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push

#resizableframe3_3
  .draggable.story.openwindow.ui-widget-content.winter
    .top
      .control
        .button_close.hvr-push.btn3_3_close
        .button_enlarge.hvr-push.btn3_3_enlarge
        .button_minimize.hvr-push.btn3_3_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle AS THE WINTER NIGHT PASSES...
        .videodesc A heart breaking music video origined from a real love story.
        .button_view#view_winter(onClick="toggleVideo4()") view video
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Director
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p February 2014
            
          p
            .content1 Inspired by a true story, this work is about love and fate. The actress is both my roommate and the girl who has lived the tale in her own personal life, which made her emotions and performance more vivid and gave her another opportunity to work through the challenge she faced.  
          .photos
            img(src="http://i.imgur.com/DluIL36.png", alt="")
            img(src="http://i.imgur.com/yENq3SV.png", alt="")
            img(src="http://i.imgur.com/P9V3Qdu.png", alt="")
            img(src="http://i.imgur.com/hHhuPUM.png", alt="")
            img(src="http://i.imgur.com/W0O5UPy.png", alt="")
            img(src="http://i.imgur.com/qmeaGyz.png", alt="")
            img(src="http://i.imgur.com/er0Zg1Q.png", alt="")
            img(src="http://i.imgur.com/aNrJKR9.png", alt="")
          .content2 This music video is dedicated to my roommate and her ex-boyfriend, and to everyone who has ever been in love, but cannot be together — just meeting you in my most beautiful youth is enough for me.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe3_2
  .draggable.story.openwindow.ui-widget-content.voice
    .top
      .control
        .button_close.hvr-push.btn3_2_close
        .button_enlarge.hvr-push.btn3_2_enlarge
        .button_minimize.hvr-push.btn3_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle THE VOICE OF CHINA - DUALS
        .videodesc An online program about ordinary people's singing ambitions.
        .button_view#view_voice(onClick="toggleVideo3()") view sample
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Post Production
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p September 2014
            
          p
            .content1 During my internship in the Zhejiang Television Station, the promotions department in which I worked created a show called the Voice of China - duels. We were responsible for looking for the “good voices” among normal people, who were to sing hit songs used on the Voice of China of that season in PK mode. The show was held once a week, and one singer would sing a beautiful song and talk about his singing ambitions. Everyone with confidence in his or her voice is given a chance to demonstrate themselves to the audience. This show attracted a large number of singers to participate and visitors to click on their videos.
          .photos
            img(src="http://i.imgur.com/oZ4XHLh.png", alt="")
            img(src="http://i.imgur.com/puCzjkA.png", alt="")
            img(src="http://i.imgur.com/gkjEEQS.png", alt="")
            img(src="http://i.imgur.com/WGklvQZ.png", alt="")
            img(src="http://i.imgur.com/9kyMxyX.png", alt="")
            img(src="http://i.imgur.com/HINqwqE.png", alt="")
            img(src="http://i.imgur.com/T5HqEq5.png", alt="")
            img(src="http://i.imgur.com/MbxjcoC.png", alt="")
          .content2 By the end of my internship, I had participated in the entire production of the first four phases of the program, wherein I worked on auditions, program recording, and post-production on each. I was mainly responsible for the post finishing (special effects, color adjustment and subtitling, etc.).
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe3_1
  .draggable.story.openwindow.ui-widget-content.inside
    .top
      .control
        .button_close.hvr-push.btn3_1_close
        .button_enlarge.hvr-push.btn3_1_enlarge
        .button_minimize.hvr-push.btn3_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle INSIDE
        .videodesc A music video using round mask framing, about emotions and fantasy.
        .button_view#view_inside(onClick="toggleVideo2()") view video
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p December 2016
            
          p
            .content1 This is a music video about one girl experiencing different inner emotions during her brunch time, which is inspired by a Pixar film Inside Out. Different emotions live in our bodies. They are like humans: sometimes they get along with each other harmoniously while sometimes there would be some contradictions. People’s emotion world is colorful, mysterious and interesting. I use different colors to represent different emotions and memories living deep at the girl’s headquarter.
          .photos
            img(src="http://i.imgur.com/P2CuxvM.png", alt="")
            img(src="http://i.imgur.com/fYjdKqS.png", alt="")
            img(src="http://i.imgur.com/TnIIsa2.png", alt="")
            img(src="http://i.imgur.com/roVQ3FQ.png", alt="")
            img(src="http://i.imgur.com/KckJfNx.png", alt="")
            img(src="http://i.imgur.com/Zkx4JsJ.png", alt="")
            img(src="http://i.imgur.com/BaVCrkF.png", alt="")
          //- .content2 This work won the first prize at the 12th Zhejiang Province multimedia contest in the digital video group. I am the director, involved in screenwriting, most parts of shooting, and some parts of editing. I learned real teamwork from the production process, including the allocation of work and project coordination. In addition, our team of five people raised money to purchase a small track in order to get better shots. We also gave up holidays going to another city to shoot. Because our funding was so minimal, we tried to use all of our resources available. For instance, the home scene is my home, and the actress’s mother is my mother. We edited with Adobe premiere CS7 software, and we used a ratio of 2.35:1 – super widescreen like a theater movie. The devices I used might not be the most advanced, but the emotion I expressed was most genuine.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe1_3
  .draggable.story.openwindow.ui-widget-content.geek
    .top
      .control
        .button_close.hvr-push.btn1_3_close
        .button_enlarge.hvr-push.btn1_3_enlarge
        .button_minimize.hvr-push.btn1_3_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle GEEK-CHIC CLOTHING
        .videodesc An E-Store owned by me and my friend in China, selling fresh clothing for young ladies.
        //- .button_view#view_portfolio view site
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Main Designer & Developer
            .skill
              h5 SKILL
              p Web Design
            .date
              h5 DATE
              p Feb 2014
            
          p
            .content1 In 2014, I designed my first webpage of the Taobao shop that my best friend and I opened. I hadn’t received any training related to web design then, so I had to teach myself on the Internet, from collecting materials to the final production. It took me 3 months to make this website. I also took all of the photos used on the site.

          .photos
            img(src="http://i.imgur.com/5ftpdBW.jpg", alt="")
          .content2 Many people would rather spend 5 Yuan a month to buy a template, which only takes them 5 minutes to finish the page design, but I spent wholly three months to do this job. Maybe it’s simply because of an enjoyment and the feeling of learning how to use my designing, editing and photographing skills in a new area! I think it’s an enjoyable thing to open a shop of my own style and sell stuff I like, not just for money.  
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe1_2
  .draggable.story.openwindow.ui-widget-content.portfolio
    .top
      .control
        .button_close.hvr-push.btn1_2_close
        .button_enlarge.hvr-push.btn1_2_enlarge
        .button_minimize.hvr-push.btn1_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle PORTFOLIO 2011-2014
        .videodesc My previous portfolio website gathering my works from 2011-2014, mainly supported by HTML, CSS3 and a little simple Javascript.
        //- .button_view#view_portfolio view site
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Web Design
            .date
              h5 DATE
              p Nov 2014
            
          p
            .content1 This project is based on the idea “dream”, gotten from both my sleeping experience and the film “Inception”. You are kicked into my dream and trying to feel what I feel. There are different levels of dream during sleep, from first level (the most basic and clear one experienced by us every day), second level, third level and limbo level, getting more and more abstract and chaotic, so I simply mocked them with various visual components. The content gets more and more chaotic from up to down. 

          .photos
            img(src="http://i.imgur.com/VIPTwLr.png", alt="")
            img(src="http://i.imgur.com/CKjGhtG.png", alt="")
            
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe1_1
  .draggable.story.openwindow.ui-widget-content.dreamer
    .top
      .control
        .button_close.hvr-push.btn1_1_close
        .button_enlarge.hvr-push.btn1_1_enlarge
        .button_minimize.hvr-push.btn1_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle THE DREAMER
        .videodesc An image maze that leads you into my chaotic dream and an interactive experience supported by HTML, CSS and Javascript.
        .button_view#view_dreamer view site
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Web Design
            .date
              h5 DATE
              p Nov 2016
            
          p
            .content1 This project is based on the idea “dream”, gotten from both my sleeping experience and the film “Inception”. You are kicked into my dream and trying to feel what I feel. There are different levels of dream during sleep, from first level (the most basic and clear one experienced by us every day), second level, third level and limbo level, getting more and more abstract and chaotic, so I simply mocked them with various visual components. The content gets more and more chaotic from up to down. 

          .photos
            img(src="http://i.imgur.com/t1I0pfi.png", alt="")
            img(src="http://i.imgur.com/3iWr2ua.png", alt="")
            img(src="http://i.imgur.com/IWuMk87.png", alt="")
            img(src="http://i.imgur.com/hCO3SFu.png", alt="")
            img(src="http://i.imgur.com/Zfd3Eyc.png", alt="")
          .content2 Basically, you just scroll down and click by mouse to cross levels. Different emotions would be aroused by images, videos and audios. By combining these visual elements,  I would like to see how one could be indulged into a virtual experience and enjoy the experience of creating this project.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resumepopup
  .draggable.story.openwindow.ui-widget-content.resumepopup
    .top
      .control
        .button_close.hvr-push.btnr_close
        .button_enlarge.hvr-push.btnr_enlarge
        .button_minimize.hvr-push.btnr_minimize
      .title 
    .bottom
      .resumeframe
        .resumejpg
          img(src="http://i.imgur.com/DSIMHiE.png", alt="")
#resizableframe7
  .draggable.story.openwindow.ui-widget-content.main7
    .top
      .control
        .button_close.hvr-push.btn7_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay

        .work1
          .work1.overlay
          .work1wrapper#art
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/WsEggzX.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 The Artistry Fading Away.jpeg
        .work2
          .work2.overlay
          .work2wrapper#shanghai
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/u9ZVxjF.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 Expressions of the City.jpeg

#resizableframe6
  .draggable.story.openwindow.ui-widget-content.main6
    .top
      .control
        .button_close.hvr-push.btn6_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay

        .work1
          .work1.overlay
          .work1wrapper#voyeur
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/nyRZZW1.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 Voyeur.flv
        .work2
          .work2.overlay
          .work2wrapper#beijing
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/BXwQIvD.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 Beijing Opera Facial Makeup.flv
              
#resizableframe5
  .draggable.story.openwindow.ui-widget-content.main5
    .top
      .control
        .button_close.hvr-push.btn5_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay

        .work1
          .work1.overlay
          .work1wrapper#trip
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/a6yfBHj.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 IU Trip.mov
        .work2
          .work2.overlay
          .work2wrapper#chunan
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/7qM5aN4.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 The Chronology of Chun’an Police Department.exe
        .work3
          .work3.overlay
          .work3wrapper#game
            .picwrapper
              .pic3
                img(src="http://i.imgur.com/Qnqgj3Z.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname3 Molecule Mover.swf
        .work4
          .work4.overlay
          .work4wrapper#invisible
            .picwrapper
              .pic4
                img(src="http://i.imgur.com/OPU2PMx.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname4 Invisible.mp4

#resizableframe3
  .draggable.story.openwindow.ui-widget-content.main3
    .top
      .control
        .button_close.hvr-push.btn3_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay

        .work1
          .work1.overlay
          .work1wrapper#inside
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/P2CuxvM.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 Inside.mp4
        .work2
          .work2.overlay
          .work2wrapper#voice
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/vuqGyY6.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 the Voice of China - Dual.mp4
        .work3
          .work3.overlay
          .work3wrapper#winter
            .picwrapper
              .pic3
                img(src="http://i.imgur.com/JYDpvbw.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname3 As the Winter Night Passes.mp4


#resizableframe2
  .draggable.story.openwindow.ui-widget-content.main2
    .top
      .control
        .button_close.hvr-push.btn2_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay

        .work1
          .work1.overlay
          .work1wrapper#dreamer
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/ufxzSgG.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 The Dreamer.html
        .work2
          .work2.overlay
          .work2wrapper#portfolio
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/r39Jzot.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 My Portfolio 2011-2014.html
        .work3
          .work3.overlay
          .work3wrapper#geek
            .picwrapper
              .pic3
                img(src="http://i.imgur.com/5hfP27M.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname3 Geek-Chic Clothing.html
        .work4
          .work4.overlay
          .work4wrapper#dependent
            .picwrapper
              .pic4
                img(src="http://i.imgur.com/qm2RVqw.png", alt="")
                .overlay Coming Soon
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname4 (In)Dependent.html
#resizableframe1
  .draggable.story.openwindow.ui-widget-content.main1
    .top
      .control
        .button_close.hvr-push.btn1_close
        .button_enlarge.hvr-push.btn1_enlarge
        .button_minimize.hvr-push.btn1_minimize
    .bottom
      .meback
      .content
        .realcontent
          .selfie
          h1
            a(href="" data-period="2000" data-type='[ "Hey there!", "Wanna know more about me?", "Here it is!" ]').typewrite
              span.wrap
          .detail
            .type
              h5 #BASICS
            
          .content1 Hello, my name is Ruofan Gu (Fanee). I am a second-year Master of Science student majoring in Telecommunications at Indiana University’s Media School and will graduate in this May. Currently I am looking for a full-time entry-level position or an internship opportunity in media industry and creative market.  <br><br> I am a passionate and creative multimedia producer and interactive designer. I love discovering beauty in everyday life and integrating meaningful moments and special places into my media works. I also love using my hands and creative mind to turn clever ideas into a beautifully embodied reality. 
          .detail
            .type
              h5 #SKILLS
          span.content1 - I 
          span.purpletext design 
          span.content1 and I am fluent with Adobe Creative Suite.<br>
          span.content1 - I 
          span.purpletext code 
          span.content1 and I usually code with HTML/PUG, CSS/SASS, Jquery and Bootstrap.<br>
          span.content1 - I 
          span.purpletext teach production
          span.content1 and my students love me!<br><br>
          .detail
            .type
              h5 #HOBBIES
          .content2 - I love travelling and videography.<br>- I love Disney & Pixar.<br>- I love art movies & Woody Allen.<br>- I love C-Pop & K-Pop.<br>- I love all cute things.

          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe6_1_1
  .draggable.story.openwindow.ui-widget-content.voyeurvideo
    .top
      .control
        .button_close.hvr-push.btn6_1_1_close(onClick="toggleVideo6('hide')")
      .title 
    .bottom
      .video#popupvideo6
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/xtoERbAbEkM?enablejsapi=1", frameborder="0", allowfullscreen)
#resizableframe5_4_1
  .draggable.story.openwindow.ui-widget-content.invisiblevideo
    .top
      .control
        .button_close.hvr-push.btn5_4_1_close(onClick="toggleVideo5('hide')")
      .title 
    .bottom
      .video#popupvideo5
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/wQTovnk5N_o?enablejsapi=1", frameborder="0", allowfullscreen)
#resizableframe3_3_1
  .draggable.story.openwindow.ui-widget-content.wintervideo
    .top
      .control
        .button_close.hvr-push.btn3_3_1_close(onClick="toggleVideo4('hide')")
      .title 
    .bottom
      .video#popupvideo4
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/qerJHdTQYAM?enablejsapi=1", frameborder="0", allowfullscreen)
#resizableframe3_2_1
  .draggable.story.openwindow.ui-widget-content.voicevideo
    .top
      .control
        .button_close.hvr-push.btn3_2_1_close(onClick="toggleVideo3('hide')")
      .title 
    .bottom
      .video#popupvideo3
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/BqOI9dNG0t0?enablejsapi=1", frameborder="0", allowfullscreen)
#resizableframe3_1_1
  .draggable.story.openwindow.ui-widget-content.insidevideo
    .top
      .control
        .button_close.hvr-push.btn3_1_1_close(onClick="toggleVideo2('hide')")
      .title 
    .bottom
      .video#popupvideo2
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/xtoERbAbEkM?enablejsapi=1", frameborder="0", allowfullscreen)

#resizableframe_2_1
  .draggable.story.openwindow.ui-widget-content.windmillvideo
    .top
      .control
        .button_close.hvr-push.btn4_2_1_close(onClick="toggleVideo1('hide')")
      .title 
    .bottom
      .video#popupvideo1
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/YFbbD3WDy84?enablejsapi=1", frameborder="0", allowfullscreen)

#resizableframe_1_1
  .draggable.story.openwindow.ui-widget-content.markvideo
    .top
      .control
        .button_close.hvr-push.btn4_1_1_close(onClick="toggleVideo('hide')")
      .title 
    .bottom
      .video#popupvideo
        iframe.iframe1(width="760", height="515", src="https://www.youtube.com/embed/rH6m-kJhMqY?enablejsapi=1", frameborder="0", allowfullscreen)
#resizableframe_2
  .draggable.story.openwindow.ui-widget-content.windmill
    .top
      .control
        .button_close.hvr-push.btn4_2_close
        .button_enlarge.hvr-push.btn4_2_enlarge
        .button_minimize.hvr-push.btn4_2_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle THE YELLOW WINDMILL
        .videodesc A mini film inspired from a real story.
        .button_view#view_windmill(onClick="toggleVideo1()") view video
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Director & Producer
            .skill
              h5 SKILL
              p Video & Audio Production
            .date
              h5 DATE
              p November 2014
          //- .skills Individual Project<br>Skills:<br>Video Storytelling , Video & Audio Production<br>
          //-   .software
          //-     .pr
          //-     .au
          //-     .ae
            
          p
            .content1 The inspiration for the work was drawn from a true story of one of our classmates. During our freshman year, her father died unexpectedly in an accident. As her friends, we decided to make a short film for her to make her feel the warmth of friendship and give her long-lasting comfort. The video tells the story of a female student, Xiaoxiao, who is constantly immersed in misery from her father's death.<br><br>Feeling alienated from everything around her, even her own mother, the paper windmill left by her father became a strong emotional symbol for Xiaoxiao. Her mother wanted her daughter to move beyond the pain as soon as possible to re-start their lives, and so she tells Xiaoxiao to throw away the paper windmill, but this request caused Xiaoxiao to withdraw further. One night, Xiaoxiao discovered her mother's secret, realizing that her mother is burdened with a greater but more concealed pain than her. She finally decided to live for the people who are still alive and in her own way say farewell to her father. As is said at the end of the film, suffering is a part of our life, and we are powerful when we learn to accept life the way it is. 
          .photos
            img(src="http://i.imgur.com/iWa6l0d.png", alt="")
            img(src="http://i.imgur.com/zJxawZm.png", alt="")
            img(src="http://i.imgur.com/hgiBNXu.png", alt="")
            img(src="http://i.imgur.com/ubqXISd.png", alt="")
            img(src="http://i.imgur.com/wx8dmw0.png", alt="")
            img(src="http://i.imgur.com/YDfgVC2.png", alt="")
          .content2 This work won the first prize at the 12th Zhejiang Province multimedia contest in the digital video group. I am the director, involved in screenwriting, most parts of shooting, and some parts of editing. I learned real teamwork from the production process, including the allocation of work and project coordination. In addition, our team of five people raised money to purchase a small track in order to get better shots. We also gave up holidays going to another city to shoot. Because our funding was so minimal, we tried to use all of our resources available. For instance, the home scene is my home, and the actress’s mother is my mother. We edited with Adobe premiere CS7 software, and we used a ratio of 2.35:1 – super widescreen like a theater movie. The devices I used might not be the most advanced, but the emotion I expressed was most genuine.
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push

#resizableframe_1
  .draggable.story.openwindow.ui-widget-content.mark
    .top
      .control
        .button_close.hvr-push.btn4_1_close
        .button_enlarge.hvr-push.btn4_1_enlarge
        .button_minimize.hvr-push.btn4_1_minimize
      .title 
    .bottom
      .toptitle
        .overlay
        .videotitle B-TOWN NEWS STORY - MARK LEE
        .videodesc A news story about the owner of B-Town International Market, who is a Chinese, born in Korea and live in the United States.
        .button_view#view_mark(onClick="toggleVideo()") view video
      .content
        .realcontent
          .detail
            .type
              h5 ROLE
              p Individual Project
            .skill
              h5 SKILL
              p Video Storytelling
            .date
              h5 DATE
              p October 2015
          //- .skills Individual Project<br>Skills:<br>Video Storytelling , Video & Audio Production<br>
          //-   .software
          //-     .pr
          //-     .au
          //-     .ae
            
          p
            .content1 However, even facing and conquering such challenges, there was one thing that neither could overcome. She is Muslim, while her boyfriend is Han. Her Muslim religion and family forbid her to marry outside of her religion, so she was given a painful choice: she could either abandon her religion and betray her family for the man she loves or she would have to give up her love to preserve her connection to her community. The film is about her struggles and sense of helplessness after she made her decision, as she tried to bury the wonderful memories she had shared with her former boyfriend. 
          .photos
            img(src="http://i.imgur.com/uiLLqL2.png", alt="")
            img(src="http://i.imgur.com/phXV9Km.png", alt="")
            img(src="http://i.imgur.com/6sh4x7h.png", alt="")
            img(src="http://i.imgur.com/ZFGZxS4.png", alt="")
            img(src="http://i.imgur.com/lAI3Y2l.png", alt="")
          //- .content2 Individual Project<br>Shown at 2015 IU Student Showcase: 12/13/2015
          .footer
            .footername RUOFAN GU
            .copyright © 2017 · RUOFAN GU · ALL RIGHTS REVERSED
            .socialmedia
              a(href="https://www.facebook.com/profile.php?id=100009776596276" target="_blank").fb.hvr-push
              a(href="https://www.instagram.com/faneeee_030/" target="_blank").ins.hvr-push
              a(href="https://www.linkedin.com/in/ruofan-gu-046b67123" target="_blank").linkedin.hvr-push
#resizableframe
  .draggable.story.openwindow.ui-widget-content.main4
    .top
      .control
        .button_close.hvr-push.btn4_close
        //- .button_enlarge.hvr-push.btn4_enlarge
        //- .button_minimize.hvr-push.btn4_minimize
      .title 
        //- .iconinside
    .bottom.bottom_fixed
      .bottom.bottom_fixed.overlay
          
      .workwrapper
        .workwrapper.overlay
        //- .storytitle
        //-   //- .main I Record Stories
        //-   .storylogo.hvr-buzz-out 
          //- .sub My stories originate from real life.

        .work1
          .work1.overlay
          .work1wrapper#mark
            //- .work1border
            .picwrapper
              .pic1
                img(src="http://i.imgur.com/SRPUUs3.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname1 B-Town News Story - Mark Lee.mov
        .work2
          .work2.overlay
          .work2wrapper#windmill
            .picwrapper
              .pic2
                img(src="http://i.imgur.com/BXwQIvD.png", alt="")
                .overlay
                  //- img(src="http://i.imgur.com/Jx3nzAH.png", alt="")
              .picname2 The Yellow Windmill.mov
//- .draggable.resume.openwindow.ui-widget-content
.desktop
  //- .deskicon
  //-   .deskicon1.click1
  //-     img.img5(src="http://i.imgur.com/PktFuZG.png", alt="")
  //-     .name.name1 My Resume
  //-   .deskicon2.click2
  //-     img.img6(src="http://i.imgur.com/71nw0vG.png", alt="")
  //-     .name.name2 Hire Me!
  .back 
  //-   #landing-cover
  //-     .layer.img1
  //-     .layer.img2
  //-     .layer.img3
  //-   .overlay
    //- .vector1
    //- .vector2
    //- .vector3
    //- .vector4
  .nav
    .logo
      img(src="http://i.imgur.com/63IsBUu.png", alt="")
    .show_info 
    .broadcast
      marquee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Welcome to explore my portfolio and view my media projects. I'm currently looking for a job in creative market. If you like me, please don't hesitate to contact me! &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Yeah I coded the whole website and designed everything. 
    .rightwrap
      #wifi
      #time.time
  .circle
  .textwrapper
    .headline1 HELLO!
    .headline I'M RUOFAN GU.
    
    .subhead A Young Passionate Multimedia Producer & Interactive Designer.<br>Welcome to my portfolio.<br>
  .deck
    .wrapper
      .icon1
        .box.box1
            .line.line1 Who I Am
            .triangle
        img.img11(src="http://i.imgur.com/JIBumKk.png", alt="")
        .dot.dot1
      .icon2
        .box.box2
            .line.line2 I Build Websites
            .triangle
        img.img22(src="http://i.imgur.com/bkN4QO0.png", alt="")
        .dot.dot2
      .icon3
        .box.box3
            .line.line3 I Shoot Videos
            .triangle
        img.img33(src="http://i.imgur.com/7eYsp7O.png", alt="")
        .dot.dot3
      .icon4
        .box.box4
            .line.line4 I Record Stories
            .triangle
        img.img4(src="http://i.imgur.com/TPsY5Ve.png", alt="")
        .dot.dot4
      .icon5.iconmove5
        .box.box5
            .line.line5 I Design for Experience
            .triangle
        img.img55(src="http://i.imgur.com/Wy3urTK.png", alt="")
        .dot.dot5
      .icon6.iconmove4
        .box.box6
            .line.line6 I Make Animations
            .triangle
        img.img66(src="http://i.imgur.com/8uo2Qie.png", alt="")
        .dot.dot6
      .icon7.iconmove3
        .box.box7
            .line.line7 I Take Photos
            .triangle
        img.img7(src="http://i.imgur.com/wI0O6Qr.png", alt="")
        .dot.dot7
      .icon8.iconmove2
        .box.box8
            .line.line8 Contact me
            .triangle
        img.img8(src="http://i.imgur.com/gtJQoQD.png", alt="")
        .dot.dot8
      .icon9.iconmove1
        .box.box9
            .line.line9 My Resume
            .triangle
        img.img9(src="http://i.imgur.com/gEyrV6Z.png", alt="")
        .dot.dot9

